# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
coverage

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode
.idea

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Turbo cache
.turbo

# Firebase
.firebase

# DynamoDB local
.dynamodb

# Temporary files
tmp
temp